.link{
    display: block;
    text-align: right;
    padding: 10px; 
}

.link > span{
    padding-left: 20px
}

form,h1{
    display: block;
    text-align: center;
}

.searchbar{
    border-radius: 25px;
    width: 500px;
    height: 30px;
    text-align:center;
}

.mainlogo{
    height:100px;
    width:280px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 50px;
}

#tinylogo{
    width:70px;
    height:20px; 
    float: left; 
}

.buttons{
    padding-top: 20px;
}

.row{
    padding-top: 20px;
}

.column {
    float: left;
    width: 15%;
    flex-direction: column; 
  }

  .column > div {
    padding-bottom: 20px;
    padding-left: 50px;
    text-align: left;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #advancedTitle{
    text-align: left;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  #advanceSearchButton{
    background-color: blue;
    color: white; 
    height: 40px;
    width: 130px;
    margin-right: 301px;
    border-radius: 5px;
  }

  .advancedSearch{
    width: 400px; 
  }

  h1{
    color: blue;
  }




 
